p {
    color:rgb(0, 0, 0);
    margin: 15px;
    margin-top: 15px;
}

.news_homepage{
    padding: 40px;
    background-color: aqua;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 7px black;
}

.news_homepage img{
    max-width: 400px;
}

h2{
    margin: 15px;
}

image {
    margin: 30px;
}

.detailes-button{
    color: rgb(14, 154, 154);
    background-color: rgb(50, 198, 198);
    padding: 7px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 20px;
}

.detailes-button:hover{
    background-color: rgb(109, 224, 224);
    color: rgb(39, 193, 193);
    transform: scale(1.05);
}