
.right_side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    width: 100%;
}
.form-block{
    padding: 32px 80px;
    background-color: rgb(224, 119, 191);
    width: fit-content;
    border-radius: 8px;
    border: 1px rgba(104, 104, 104, 0.671) solid;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.form-title{
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    color: #1A1D20;
    font-family:Arial, Helvetica, sans-serif;
}
form input{
    font-size: 150%;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px #E5E7EB solid;
    background-color: #F3F4F6;
    width: 100%;
    transition: all 0.3s ease;
}
input:focus {
    outline: none;
    background-color: #7c0000;
}
form button{
    padding: 10px 20px;
    font-size: 150%;
    margin-top: 10px;
    background-color: rgb(238, 202, 222);
    border-radius: 3px;
    border: 1px rgba(95, 95, 95, 0.781) solid;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background-color: rgb(230, 182, 208);
}