header h2{
    margin-left: 20px;
}
.back-button{
    border: 1px black solid;
    background-color: rgb(253, 153, 221);
    color: rgb(135, 8, 170);
    position: fixed;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
    transition: all 0.3s linear;
    padding: 10px;
    border-radius: 5px;
    margin-top: -30px;
}
.back-button:hover{
    background-color: rgb(255, 118, 212);
        color: rgb(138, 34, 167);
}
.back-button a{
    color: rgb(145, 9, 136);
    text-decoration: none;
}

img{
    margin-left: 300px;
    margin-right: 700px;
}

.news_homepage{
    padding: 15px;
}