header h2{
    margin-left: 20px;
}
.back-button{
    background-color: rgb(255, 170, 228);
    color: rgb(154, 12, 193);
    position: fixed;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
    transition: all 0.3s linear;
    padding: 10px;
    border-radius: 5px;
    margin-top: -30px;
}
/* .back-button:hover{
    
} */
.back-button a{
    background-color: rgb(252, 149, 220);
    color: rgb(186, 12, 175);
    text-decoration: none;
}