{% extends 'main/base.html' %}

{% load static %}

{% block title %}

{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'main/css/account.css' %}">
{% endblock %}


{% block header %}
    {% if user.is_authenticated %}    
        <h2>Account</h2>
    {% else %}
        <h2>Login</h2>
    {% endif %}
{% endblock %}


{% block content %}
<div class="form-block">
    <p class="form-title">Bei Konto anmelden</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name_user }}
        {{ form.birthday_date_user }}
        {{ form.phone_user }}
        {{ form.password_user }}
        {{ form.bip_user }}
        <button type="submit">Registrieren</button>
    </form>
    {{ form_message }}
</div>
{% endblock %}