{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <header>
        <div>
        {% block header %}{% endblock %}
        <h1 class="name-of-site">EasySchool</h1>
            <div class="navigation">
                <a class="nav-href" href="{% url 'homepage' %}">Zur Startseite</a>
                <a class="nav-href" href="{% url 'lesson_plan' %}">Zum Stundenplan</a>
                <a class="nav-href" href="{% url 'informations' %}">Mehr Informationen</a>
                <a class="nav-href" href="{% url 'classes' %}">Klassen</a>
            </div>
        </div>
        <div class="register navigation">
            {% if user.is_authenticated %}
                <a class="login nav-href name-of-site" href="{% url 'account' %}">Dein Konto</a>
                <a class="login2 nav-href name-of-site" id="logout">Ausloggen</a>
            {% else %}
                <a class="login nav-href name-of-site" href="{% url 'login' %}">Anmelden</a>
                <a class="login2 nav-href name-of-site" href="{% url 'register' %}">Registrieren</a>
            {% endif %}
        </div>
    </header>
    <main>
        </div>
        <div class="right_side">
            {% block content %}{% endblock %}
        </div>
    </main>

    <div class="logout-window-wrapper" id="logout-window-wrapper" style="display: none;">
        <div class="logout-window">
            <h2>Точно хотите выйти?</h2>
            <div class="buttons-row">
                <button type="button" id="decline-button">Нет</button>
                <a href="{% url 'logout' %}">Да</a>
            </div>
        </div>
    </div>

    <script>
        const logoutButton = document.querySelector('#logout');
        const declineButton = document.querySelector('#decline-button');
        const logoutWindowWrapper = document.querySelector('#logout-window-wrapper');

        logoutButton.addEventListener('click', () => {
            console.log("Клик");
            logoutWindowWrapper.style.display = 'flex';
        })
        const closeModal = () => {
            logoutWindowWrapper.style.display = 'none';
        };

        declineButton.addEventListener('click', closeModal);

        logoutWindowWrapper.addEventListener('click', (e) => {
            if (e.target === logoutWindowWrapper) {
                closeModal();
            }
        });
    </script>
</body>
</html>