{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <header>{% block header %}{% endblock %}
        <h1 class="name-of-site">EasySchool</h1>
        <div class="navigation">
            <a class="nav-href" href="{% url 'homepage' %}">Zur Startseite</a>
            <a class="nav-href" href="{% url 'lesson_plan' %}">Zum Stundenplan</a>
            <a class="nav-href" href="{% url 'informations' %}">Mehr Informationen</a>
            <a class="nav-href" href="{% url 'classes' %}">Klassen</a>
    </header>
    <main>
        </div>
        <div class="right_side">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>