{% extends 'main/base.html' %}

{% load static %}

{% block title %}

{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'main/css/classes.css' %}">
{% endblock %}


{% block header %}
<h2>Klassen</h2>
{% endblock %}


{% block content %}
<h1>Die Klassen</h1>
    {% for class in classes %}
        <div>{{ class.class_name }} Level: {{ class.class_level }} <a class="tag_a_class" href="{% url 'classinfos' classinfos_pk=class.pk %}">Klasseninfos</a></div>
    {% endfor %}
{% endblock %}