{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Startseite
{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
{% endblock %}


{% block header %}
<h2>News</h2>
{% endblock %}


{% block content %}
<div class="news_homepage">
    <div>
        <h2>new1</h2>
    </div>
</div>
<div class="news_homepage">
    <div>
        <h2>new2</h2>
    </div>
</div>
<div class="news_homepage">
    <div>
        <h2>new3</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis incidunt, commodi iure, quaerat ab, est omnis rem odit quo eos repudiandae sint repellat nobis deserunt obcaecati! Doloribus repudiandae soluta tenetur?</p>
    </div>
</div>
{% endblock %}

