{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Startseite
{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
{% endblock %}


{% block header %}
<h2>Neuigkeiten</h2>
{% endblock %}


{% block content %}
    {% if news %}

        {% for new in news %}
            <div class="news_homepage">
                <div>
                    <h2>{{ new.header }}</h2>
                    <p>{{ new.text }}</p>
                    <img src="{{ new.image.url }}">
                    <a class="detailes-button" href="{% url "news" news_pk=new.pk %}">Details</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            Momentan keine Neuigkeiten.
        </div>
    {% endif %}
{% endblock %}
