{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Startseite
{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'main/css/homepage.css' %}">
{% endblock %}


{% block header %}
<h2>Neuigkeiten</h2>
{% endblock %}


{% block content %}
    {% if user.is_staff %}
        <a href="{% url 'add_new' %}" class="add_new"> + Add new </a>
    {% endif %}
    {% if news %}
        {% for new in news %}
            <div class="news_homepage">
                <div>
                    <h2 class="new_text">{{ new.header }}</h2>
                    <p class="new_text">{{ new.text }}</p>
                    {% if new.image %}
                        <img src="{{ new.image.url }}">
                    {% endif %}
                    <a class="detailes-button" href="{% url 'news' news_pk=new.pk %}">Details</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            Momentan keine Neuigkeiten.
        </div>
    {% endif %}
{% endblock %}